body{
    margin: 0px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

paper-fab{
    min-height: 48px;
    min-width: 48px;
}

@media only screen and (max-width: 1080px){
    p{
        font-size: 1.6em;
    }

    @media only screen and (max-width: 1080px){
        paper-fab{
            min-height: 72px;
            min-width: 72px;
        }
    }
}

html, body{
    overflow-x: hidden;
}
